* {
  box-sizing: border-box;
}

nav {
  float: right;
}

nav a {
  color: black;
  text-decoration: none;
}

nav * {
  margin: 5px 10px;
}

nav i {
  font-size: 20px;
}

main img {
  display: block;
  width: 300px;
  margin: 0 auto;
}
